@require 'settings/breakpoints.styl'
@require 'utilities/display.styl'

.pho-toolbar
    display flex
    margin-left auto

.fil-toolbar-menu-recipients
    position absolute
    right    1rem
    top      .6rem
